<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.PostMapper">
    <resultMap id="BaseResultMap" type="com.example.backend.model.Post">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="postID" jdbcType="VARCHAR" property="postID" />
        <result column="postName" jdbcType="VARCHAR" property="postName" />
        <result column="postImage" jdbcType="VARCHAR" property="postImage" />
        <result column="postType" jdbcType="VARCHAR" property="postType" />

    </resultMap>

    <insert id="addPost" parameterType="com.example.backend.model.Post">
        INSERT INTO post (postID,postName,postImage,postType)
        values (#{postID},#{postName},#{postImage},#{postType})
    </insert>

    <select id="postList" resultType="com.example.backend.model.Post">
        SELECT *
        FROM post
    </select>
</mapper>